.app__products {
    padding: 1rem 8rem;
    margin-top: 4rem;
}

.app__products h1 {
    color: var(--absolute-white);
    align-self: flex-start;
    font-weight: 400;
}

.app__products-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__products-top p {
    align-self: flex-start;
    max-width: 60%;
    color: var(--gray-70);
    font-weight: 300;
    margin-top: 0;
    line-height: 150%;
    margin-bottom: 0;
}

.btn-black {
    background: var(--gray-80);
    color: white;
}

.btn-black:hover {
    transform: scale(1);
}

.app__products-top_choices {
    display: flex;
    align-self: center;
    background-color: var(--gray-11);
    border: 1px solid var(--gray-15);
    border-radius: 2rem;
    padding: 0.5rem;
}

.app__products-top_choices button {
    padding: 0.7rem 1rem;
    cursor: pointer;
    transition: background 0.5s cubic-bezier( 0.895, 0.03, 0.685, 0.22 ),
                color 0.4s cubic-bezier( 0.895, 0.03, 0.685, 0.22 );
                
}

.app__products-top_choices button:hover {
    transform: scale(1);
}

.app__products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.app__products-list-item {
    width: 350px;
    text-align: center;
}

.app__products-list-item:nth-child(2) {
    border-left: 1px solid var(--gray-15);
    border-right: 1px solid var(--gray-15);
    padding: 2rem;
}

.app__products-list_icon img {
    width: 98px;
    height: 98px;
}

.app__products-list-item h2 {
    color: var(--absolute-white);
    font-weight: 400;
    font-size: 22px;
}

.app__products-list-item p {
    color: var(--gray-70);
    font-weight: 300;
    font-size: 15px;
    line-height: 150%;
}

@media screen and (max-width: 1439px) {
    .app__products-list {
        justify-content: center;
    }

    .app__products-list-item:nth-child(2) {
        padding: 1rem;
        margin: 0 1rem;
    }

    .app__products-list-item {
        width: 290px;
    }

    .app__products-list-item p {
        font-size: 13px;
    }

}

@media screen and (max-width: 1191px) {
    .app__products-list-item p{
        font-size: 13px;
    }

    .app__products-list-item:nth-child(1) {
        border-bottom: 1px solid var(--gray-15);
        padding: 0 1rem 1rem 0;
        margin-bottom: 2rem;
  
    }

    .app__products-list-item:nth-child(2) {
        border-right: none;
        border-bottom: 1px solid var(--gray-15);
        padding: 0 0 1rem 1rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .app__products-list {
        align-items: flex-end;
    }

    .app__products-top_choices button {
        font-size: 12px;
    }
}

@media screen and (max-width: 870px) {
    .app__products-list-item {
        width: 500px;
    }
    .app__products-list-item:nth-child(2) {
        border-left: none;
    }

    .app__products {
        text-align: center;
    }

    .app__products-top {
        flex-direction: column;
    }

    .app__products-top p {
        max-width: 100%;
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 420px) {
    .app__products-list-item p{
        font-size: 12px;
    }

    .app__products {
        padding: 1rem 2rem;
        margin-top: 4rem;
    }

    .app__products-list-item {
        width: 300px;
    }
}